# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

/info.txt
/resources/*/
/app/css/ionic.*.css
/app/vendor/

# Eclipse
.project
.settings
.tern-project
